:root {
  /* tipografi */
  --font-family: "Poppins";
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* fontsize */
  --dp-10: 10;
  --dp-12: 12;
  --dp-14: 14;
  --dp-16: 16;
  --dp-18: 18;
  --dp-20: 20;
  --dp-22: 22;
  --dp-24: 24;
  --dp-26: 26;
  --dp-28: 28;
  --dp-30: 30;
  --dp-32: 32;

  /* color */
  --color-primary: #0054a5;
  --color-error: #b20110;
  --color-pink: #fdedee;
  --color-white: #ffffff;
  --text-primary: #000000;
  --text-secondary: #666666;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
